h1 {
    background-color: #fe6847;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #1E1E24;
}

body {
    background-color: #fe6847;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #1E1E24;
}

p {
    color: #1E1E24;
}

.thumbnail {
    width: 100%;
    height: auto;
    max-height: 300px;
    border: 1px solid #1E1E24;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
}